@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

header {
  background-color: rgb(255, 255, 255);
  color: rgb(241, 228, 228);
  padding: 5px 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px auto;
  padding: 0 10px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #8a0917;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  color: rgb(0, 0, 0);
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
}

.nav-links a:hover {
  background-color: #8a0917;
  border-radius: 4px;
  color: white;
}

.container {
  background: linear-gradient(360deg, rgb(255, 228, 228) 0%, hsl(344, 31%, 69%) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100vh;
  padding-top: 100px;
}


form {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 60%;
  max-width: 600px;
  border-radius: 10px;
  padding-bottom: 20px;
}

form h2 {
  text-align: center;
  color: #8a0917;
  margin-bottom: 13px;
}

form input,
textarea {
  border: 0;
  margin: 10px 0px;
  padding: 20px;
  outline: none;
  background: #f5f5f5;
  font-size: 16px;
  border-radius: 10px;
  resize: none;
}

form button {
  background: white;
  color: #8a0917;
  border: 1px solid #8a0917;
  padding: 15px;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  margin: 20px auto 0;
  border-radius: 10px;
  transition: all .05s ease-in;
}

form button:hover {
  border: 1px solid #8a0917;
  background: #8a0917;
  color: white;
}